<!DOCTYPE html>
<html>
<head>
  <title>Castor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<% if @current_user %>
  <div style="display: flex">
    <h1>Bienvenue Mr <%= @current_user.name %> !</h1>
    <%= form_tag "/login", method: :delete do %>
      <input type="submit" value="Déconnexion"/>
    <% end %></div>
<% end %>

<% if flash[:destroy_all] %>
  <div style="background-color: red; border-radius: 10px; padding: 10px; width: 15%"><%= flash[:destroy_all] %></div>
<% end %>
<% if flash[:success] %>
  <div style="background-color: #1ad027; border-radius: 10px; padding: 10px; width: 15%"><%= flash[:success] %></div>
<% end %>

<div><%= flash[:info] %></div>

<%= yield %>
</body>
</html>
